body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Позволяет хедеру быть поверх изображения */
  background: rgba(
    0,
    0,
    0,
    0.2
  ); /* Полупрозрачный фон для лучшей читаемости текста */
  padding: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-title {
  color: #fff;
  font-size: 24px;
  margin-left: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
